@import './variables';
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
  font-family: 'KG Inimitable Original';
  src: url('../../assets/Fonts/KGInimitableOriginal/KGInimitableOriginal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../../assets/Fonts/GothamPro/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


div { position: relative; }

.main {
  height: calc(100vh - #{$header-height});
  margin-top: #{$header-height};
}
