@import '../_variables';

.big-resto {
	.list-brand {
		.ant-avatar {
			margin-top: 20px;
			align-items: center;
			justify-content: center;
			display: flex;

			&--small {
				padding: 20px;
				background-color: #d8d8d8;

			}
		}

		.small-brands {
			.row:nth-child(odd)>.col {
				&:nth-child(odd)>.ant-avatar--small {
					background-color: #fb91b5;
				}
			}

			.row:nth-child(even)>.col {
				&:nth-child(even)>.ant-avatar--small {
					background-color: #fb91b5;
				}
			}
		}
	}

}